# Python
__pycache__/
*.py[cod]
.venv/
env/
*.egg-info/
.mypy_cache/
.pytest_cache/

# Node/JS
node_modules/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Build
dist/
build/
